{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
<body>
    <!DOCTYPE html>
<html>
<head>
      <div class="header">
          <div class="logo">
              <p><i class="fa fa-bus fa-1x" aria-hidden="true"></i> <span id="purple">She</span><span class="unique">Move</span></p>
          </div>
          <div class="links">
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#abt">About us</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
          </div>
      </div>
      <!-- header ends -->
     
	<title>User Profiles</title>
	<!-- include Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-1s2Q1ZnMvI01ss9XUpzovM45KpChkBJlLyyeSgJwbYPiSfHgGujadqlzQ9d4olPb3udNjpcyV7rlN5e5UO7fEg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
        thead{
            background: purple;
        }
		table tbody tr:hover {
			background-color: rgb(143, 100, 143);
			color: white;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<h3>Welcome Gayathri Pramod...</h3><br>
		<table class="table table-striped text-center">
			<thead class="headings">
				<tr>
					<th>FROM</th>
					<th>TO</th>
					<th>START TIME</th>
					<th>DATE</th>
                    <th>BOOKED FOOD</th>
					<th>CANCEL/LOCATE</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Kochi</td>
					<td>Thiruvanathapuram</td>
					<td>10am</td>
					<td>12-02-2023</td>
                    <td>Yes</td>
					<td> <div class="card-body">
                        <a href="#bookseat1" class="btn btn-primary cancel-btn">Cancel Ticket</a>
                        <a href="#bookseat1" class="btn btn-primary track-btn">Track your location</a>
                      </div></td>
				</tr>
				<tr>
					<td>Kochi</td>
					<td>Thiruvalla</td>
					<td>10am</td>
					<td>12-02-2023</td>
                    <td>Yes</td>
					<td> <div class="card-body">
                        <a href="#bookseat1" class="btn btn-primary cancel-btn">Cancel Ticket</a>
                        <a href="#bookseat1" class="btn btn-primary track-btn">Track your location</a>
                      </div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- include Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha512-15aL6QQsB6I1UjKsJ6f9X6mbWd6EGI0J0deTzSGcT8H2sT6GomfjPxLl6m9fdggIhyTtuBnTJj1T6yUB8Nsh1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>

</body>
</html>