<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <center>WELCOME TO SHE BUS</center>
        <p>
            <!-- <form method="post" action="{% url 'ticket:ticket_book' %}">
                {% csrf_token %}
                <input type="hidden" name="women" value="{{User.id}}">
           Name: <input type="text" name="name">
           {% for i in TIME_SLOT %}
           Select slot: 
           <div class="btn btn-warning">
            <input type="radio" name="slot" id="slot{{forloop.counter}}" required value="{{slot}}">{{slot}}
          </div>
           {% endfor %}
           Select trip: <input type="text" name="trip"> -->
        </p>
    </body>
</html>